
.search-bar {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 6px 10px;
  border-radius: 6px;
  gap: 8px;
}

.search-bar input {
  border: none;
  outline: none;
  flex: 1;
  font-size: 14px;
}

.search-bar img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}